<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bridging Research in Innovation, Technology, and Engineering</h1>
            <hr>
            <p>Start The brite lab is a research group devoted to Bridging Research in Innovation, Technology and Engineering. We view design as both a process and a product. As such, our lab explores ways to support the design process, particulary the early phases of design, with new technologies and we also explore how to develop innovative consumer products using user-centered design techniques. To learn more about our ongoing research projects visit our projects page</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
